<html lang="en">
  <head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/cloud.webp">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Andrew Mead. it used data from mapbox.com and geocode.com!</p>
      <img class="portrait" src="/img/my-img.webp" alt="Obama Ballin'" />
    </div>

    {{>footer}}
  </body>
</html>