<html lang="en">
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/cloud.webp">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Use this site to get your weather</p>

      <form>
        <input placeholder="Location">
        {{!-- Here is where I add the drop down so we can choose a temperature measurement --}}
        <select id="unit">
          {{!-- m, f, s were all seen in the api's documentation. metric, fahrenheit, and scientific respectively --}}
          {{!-- values are set so we know what each option represents in our data when we submit the form --}}
          <option value="m">Celsius (°C)</option> 
          <option value="f">Fahrenheit (°F)</option>
          <option value="s">Kelvin (K)</option>
        </select>
        <button>Search</button>
      </form>

      <p id="message-1"></p>
      <p id="message-2"></p>
    </div>
    
    {{>footer}}
    <script src="./js/app.js"></script>
  </body>
</html>