body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  /* Background to add nice gradient I found */
  background: linear-gradient(to bottom, #ff9a9e, #fad0c4, #fbc2eb);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-top: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #fff;
  margin-right: 2rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

header a:hover {
  text-decoration: underline;
}

.portrait {
  margin-top: 48px;
  width: 250px;
}

.main-content {
  flex-grow: 1;
}

input,
select {
  border: 1px solid #cccccc;
  padding: 12px;
  border-radius: 4px;
  transition: opacity 0.3s;
}

input:hover,
select:hover {
  opacity: 0.75;
}

input:active,
select:active {
  opacity: 0.5;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background-color: #888888;
  color: white;
  padding: 12px;
  border-radius: 4px;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.75;
}

button:active {
  opacity: 0.5;
}
